@import "../node_modules/bootstrap/scss/bootstrap";

.btn-indigo{
  color: $indigo;
  border-color: $indigo;
}

.btn-indigo:hover{
  color: $white;
  background-color: $indigo;
}

.search-indigo:focus{
  border-color: $indigo;
}

#frame{
  width:520px;
  height: 580px;
  margin: 10px;
  background-color: $gray-200;
}

#inner_frame{
  width:510px;
  height: 570px;
  margin: 5px;
  background-color: $gray-100;
}

#caption{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px; 
  background-color: $white;
  justify-content: space-between;
}

#title{
  margin:5px;
  margin-left:10px;
  font-size:20px;
  font-weight: 500;
}

#author_frame{
  margin:10px;
}

#author{
  color:$indigo;
  margin-left:10px;
  font-weight: 500;
}

#wrapper{
  width:500px;
  height:500px;
  margin: 5px;
  background-color: $white;
  overflow: hidden;
}

#artwork_frame{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
