@import "../node_modules/bootstrap/scss/bootstrap";
@import "variable";
@import "function";

body{
  #header{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
  }
  #frame3{
    background-color:$black-10;
    margin-top: 50px;
    z-index: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #block1{
      @include drawAssignBlock("dark",$indigo);
    }
    #block2{
      @include drawIfBlock("dark",$yellow);
    }
  }
  #frame1{
    background-color:$black-10;
    z-index: 0;
    //margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #box1{
      @include drawBox("dark",$indigo);
    }
    #box2{
      @include drawBox("dark",$yellow);
    }
    #box3{
      @include drawBox("dark",$green);
    }
    #box4{
      @include drawBox("dark",$red);
    }
    #box5{
      @include drawBox("dark",$blue);
    }
    #box6{
      @include drawBox("dark",$turquoise)
    }
    #box7{
      @include drawBox("dark",$dark-gray);
    }
    #box8{
      @include drawBox("dark",$light-gray);
    }
  }
  #frame2{
    background-color:$white-10;
    z-index: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #box1{
      @include drawBox("light",$indigo);
    }
    #box2{
      @include drawBox("light",$yellow);
    }
    #box3{
      @include drawBox("light",$green);
    }
    #box4{
      @include drawBox("light",$red);
    }
    #box5{
      @include drawBox("light",$blue);
    }
    #box6{
      @include drawBox("light",$turquoise)
    }
    #box7{
      @include drawBox("light",$dark-gray);
    }
    #box8{
      @include drawBox("light",$light-gray);
    }
  }
}