@import "../node_modules/bootstrap/scss/bootstrap";
@import "variable";

$indigo:rgb(85,90,215);
$yellow:rgb(200,220,50);
$purple:rgb(170,60,245);
$green:rgb(100,220,110);
$red:rgb(250,100,110);
$blue:rgb(100,200,255);
$turquoise:rgb(50,210,200);
$dark-gray:rgb(70,70,70);
$light-gray:rgb(180,180,180);
$light-gray-1:rgb(240,240,240);
$dark-gray-1:rgb(10,10,10);

@mixin drawBox($bg,$color){
  width:100px;
  height:100px;
  margin: 20px;
  position: relative;
  @if $bg=="dark"{
    .faceA{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(25px,0px) rotate(135deg) skew(15deg,15deg);
      background-color:lighten($color: $color, $amount: 15%);
    }
    .faceB{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(3.35px,37.5px) rotate(15deg) skew(15deg,15deg);
      background-color:$color;
    }
    .faceC{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(46.65px,37.5px) rotate(75deg) skew(15deg,15deg);
      background-color:darken($color: $color, $amount: 15%);
    }
  }
  @else{
    .faceA{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(25px,0px) rotate(135deg) skew(15deg,15deg);
      background-color:$color;
    }
    .faceB{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(3.35px,37.5px) rotate(15deg) skew(15deg,15deg);
      background-color:darken($color: $color, $amount: 15%);
    }
    .faceC{
      width:50px;
      height:50px;
      position: absolute;
      transform: translate(46.65px,37.5px) rotate(75deg) skew(15deg,15deg);
      background-color:darken($color: $color, $amount: 30%);
    }
  }
}

body{
  #header{
    position: fixed;
    top:0;
    left:0;
  }
  #frame1{
    background-color:$dark-gray-1;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #box1{
      @include drawBox("dark",$indigo);
    }
    #box2{
      @include drawBox("dark",$yellow);
    }
    #box3{
      @include drawBox("dark",$purple);
    }
    #box4{
      @include drawBox("dark",$green);
    }
    #box5{
      @include drawBox("dark",$red);
    }
    #box6{
      @include drawBox("dark",$blue);
    }
    #box7{
      @include drawBox("dark",$turquoise)
    }
    #box8{
      @include drawBox("dark",$dark-gray);
    }
    #box9{
      @include drawBox("dark",$light-gray);
    }
  }
  #frame2{
    background-color:$light-gray-1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #box1{
      @include drawBox("light",$indigo);
    }
    #box2{
      @include drawBox("light",$yellow);
    }
    #box3{
      @include drawBox("light",$purple);
    }
    #box4{
      @include drawBox("light",$green);
    }
    #box5{
      @include drawBox("light",$red);
    }
    #box6{
      @include drawBox("light",$blue);
    }
    #box7{
      @include drawBox("light",$turquoise)
    }
    #box8{
      @include drawBox("light",$dark-gray);
    }
    #box9{
      @include drawBox("light",$light-gray);
    }
  }
}