@import "../node_modules/bootstrap/scss/bootstrap";
@import "variable";


body{
  padding: 0px;
  margin: 0px;
  height: 45px;
  .navbar{
    padding: 0px 10px;
    margin: 0px;
    height: 45px;
    background-color:$black-20;
    border-bottom:solid 1px $black-40;
    #site_name{
      padding:0px;
      margin:5px;
      height:40px;
      display: flex;
      #logo{
        margin-right: 10px;
      }
      .title{
        vertical-align: middle;
        font-size: 20px;
        color: $white-10;
      }
      .pro{
        font-weight: 500;
      }
      .graphy{
        font-weight: 200;
      }
    }
    .btn-indigo{
      color: $indigo-50;
      border-color: $indigo-50;
    }
    
    .btn-indigo:hover{
      color: $white;
      border-color: $indigo-60;
      background-color: $indigo-60;
    }
    #form{
      height:25px;
      padding:0px;
      margin:0px;
      #search{
        #search_input{
          height:25px;
          padding: 0px 8px;
          font-size: 15px;
        }
        #search_button{
          height:25px;
          width:80px;
          padding: 0px 8px;
          font-size: 15px;
        }
        .search-indigo:focus{
          border-color: $indigo-60;
        }
      }
    }
  }
}


