@import "../node_modules/bootstrap/scss/bootstrap";

$indigo: #4400ff;
$red: #c00000;

$indigo-100: tint-color($indigo, 80%);
$indigo-200: tint-color($indigo, 60%);
$indigo-300: tint-color($indigo, 40%);
$indigo-400: tint-color($indigo, 20%);
$indigo-500: $indigo;
$indigo-600: shade-color($indigo, 20%);
$indigo-700: shade-color($indigo, 40%);
$indigo-800: shade-color($indigo, 60%);
$indigo-900: shade-color($indigo, 80%);

$red-100: tint-color($red, 80%);
$red-200: tint-color($red, 60%);
$red-300: tint-color($red, 40%);
$red-400: tint-color($red, 20%);
$red-500: $red;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

$gray-800:#333333;
$gray-820:#2e2e2e;
$gray-840:#292929;
$gray-860:#242424;
$gray-880:#1f1f1f;
$gray-900:#1a1a1a;
$gray-920:#141414;
$gray-940:#0f0f0f;
$gray-960:#0a0a0a;
$gray-980:#050505;