@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variable";

nav {
  padding: 0px 10px;
  margin: 0px;
  height: 50px;
  width: 100%;
  background-color: $black-40;
  border-bottom: solid 1px $black-60;
  display: flex;
  #site_name {
    padding: 0px;
    margin: 5px;
    height: 40px;
    display: flex;
    #logo {
      margin-right: 10px;
    }
    .title {
      margin-top: 5px;
      vertical-align: middle;
      font-size: 20px;
      color: $white-10;
    }
    .pro {
      font-weight: 500;
    }
    .graphy {
      font-weight: 200;
    }
  }
  #search {
    height: 30px;
    padding: 0px 8px;
    font-size: 15px;
    color: $black-90;
    background-color: $black-10;
    border-color: $black-40;
  }
  #search:focus {
    border-color: $black-60;
  }
  button {
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
    width: 120px;
    height: 30px;
    border: none;
    display: flex;
    padding: 5px 15px;
    i {
      color: $white-10;
      font-weight: 1000;
    }
    .button-text {
      margin-left: 10px;
      font-size: 14px;
      color: $white-10;
    }
  }
  #gallery {
    background-color: $indigo-30;
  }
  #new-code {
    background-color: $indigo-30;
  }
  #my-page {
    margin-left: 10px;
    background-color: $indigo-30;
  }
  button:hover {
    filter: saturate(200%);
  }
}
