@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variable";
@import "codemirror.css";

body {
  background-color: $black-10;
  #header {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  #user-info {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: $black-10;
    position: relative;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    #icons {
      padding-top: 50px;
      position: absolute;
      text-align: center;
      top: 25px;
      left: 50%;
      transform: translate(-50%, 0);
      #icon {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        img {
          width: 150px;
          height: 150px;
        }
      }
      #user-name {
        padding: 0px;
        width: 250px;
        height: 30px;
        text-align: center;
        background-color: transparent;
        margin: 0px 100px;
        border: none;
        font-size: 20px;
        font-weight: 500;
        color: $white-20;
        text-shadow: 0 0 7px $black-10;
      }
      #profession {
        padding: 0px;
        width: 250px;
        height: 25px;
        text-align: center;
        margin: 0px 100px;
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: 200;
        color: $white-40;
        text-shadow: 0 0 7px $black-10;
      }
    }
  }

  #menu {
    width: 100%;
    height: 40px;
    background-color: $black-30;
    display: flex;
    #menu-center {
      margin: 0 auto;
      width: 520px;
      button {
        margin: 0;
        width: 100px;
        height: 40px;
        border: none;
        background: transparent;
        color: $white-20;
      }
      .selected {
        background: $black-60;
      }
    }
  }
  #artworks {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    li {
      height: 0;
      padding-bottom: 100%;
      position: relative;
      background-color: $white-10;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
      }
      img:hover {
        opacity: 0.5;
      }
      i {
        position: absolute;
        z-index: 3;
        top: 10px;
        right: 10px;
      }
    }
  }
}
