<header id="header">
  <nav>
    <div id="site_name">
      <img id="logo" src="../image/logo_dark.png" alt="" width="40" height="40" />
      <div class="title pro">Pro</div>
      <div class="title graphy">graphy</div>
    </div>
    <input id="search" class="form-control" type="search" placeholder="Search" aria-label="Search"
      aria-describedby="button-addon2" />
    <form type="hidden" id="openGallery" action="/gallery" method="post">
      <input type="hidden" class="uid" class="form-control" name="uid" />
    </form>
    <button id="gallery" onclick="gallery();">
      <i class="bi bi-columns"></i>
      <div class="button-text">gallery</div>
    </button>
    <button id="open-signin" class="open-modal">
      <i class="bi bi-box-arrow-in-right modals"></i>
      <div class="button-text modals">sign in</div>
    </button>
    <button id="open-signup" class="open-modal">
      <i class="bi bi-pencil-square"></i>
      <div class="button-text">sign up</div>
    </button>
  </nav>
  <%- include("../partials/signin") %>
    <%- include("../partials/signup") %>
</header>

<script>
  $('#open-signin').on('click', function () {
    signin();
  });

  $('#open-signup').on('click', function () {
    signup();
  });

  async function gallery() {
    $(".uid").val("");
    $("#openGallery").submit();
  }

  var modal = 0;

  async function signin() {
    if (modal == 0) {
      modal = 1;
      $("#signin-modal").attr("style", "display:block;");
    }
  }
  async function signup() {
    if (modal == 0) {
      modal = 1;
      $("#signup-modal").attr("style", "display:block;");
    }
  }

  $(window).click(function (e) {
    if (!($(e.target).parents().hasClass("modal") || $(e.target).hasClass("modal") || $(e.target).parents().hasClass("open-modal") || $(e.target).hasClass("open-modal")) || $(e.target).hasClass("cancel")) {
      modal = 0;
      $(".modal").attr("style", "display:none;");
    }
  });

  searchWidth();
  function searchWidth() {
    var width = document.body.clientWidth;
    if (width > 1060) {
      $("#search").attr("style", "margin: 10px calc(100% - 1010px) 10px 50px;");
      $("#search").outerWidth(400);
    } else {
      $("#search").attr("style", "margin: 10px 50px 10px 50px;");
      $("#search").outerWidth(width - 660);
    }
  }

  $(window).resize(function (event) {
    searchWidth();
  });

  var dropdown = 0;

  $(window).click(function (e) {
    if (!$(e.target).hasClass("user") && dropdown == 1) {
      dropdown = 0;
      $("#dropdown-menu").attr("style", "display:none;");
    }
  });
  $("#user").click(function () {
    if (dropdown == 0) {
      dropdown = 1;
      $("#dropdown-menu").attr("style", "display:block;");
    }
  });
</script>