<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../scss/header.css" type="text/css">
        <!--<link href="colored-code/src/prettify.css" type="text/css" rel="stylesheet">-->
        <!--<script type="text/javascript" src="colored-code/src/prettify.js"></script>-->
        <!--<link rel="stylesheet" href="scss/artwork-mobile.css" media="screen and (max-width:559px)">-->
        <link rel="stylesheet" href="scss/artwork-pc.css?v=2" media="screen" type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            var art_id=1;
        </script>
        <title>Prography</title>
    </head>
    <body onload="prettyPrint()">
        <iframe id="header" class="iframe-preview" src="/header" width="100%" height="50px" frameborder="0"></iframe>
        <div class="outer_frame">
            <div class="inner_frame">
                <?php
                    try {
                        $db = new PDO('mysql:dbname=prography;host=localhost;charset=utf8','root','root');
                    } catch (PDOException $e) {
                        echo 'DB接続エラー!: ' . $e->getMessage();
                    }
                    $sql = $db->prepare('UPDATE artwork SET HTML = :coding WHERE id=1');
                    if(isset($_POST['update'])){
                        $coding = $_POST['coding'];
                        $sql->bindValue(':coding', $coding, PDO::PARAM_STR);
                        $sql->execute();
                    }
                    $result = $db->query('select HTML from artwork where id=1');
                    if (!$result) {
                        $sql_error = $db->error;
                        echo 'select failed.<br>' ;
                        error_log($sql_error);
                        die($sql_error);
                        
                    } else {
                        $html=$result->fetch(PDO::FETCH_ASSOC);
                        $code=htmlspecialchars($html['HTML'], ENT_QUOTES, 'UTF-8');
                    }
                ?>
                <div id="artwork">
                    <?php
                        echo $html["HTML"];
                    ?>
                </div>
                <div id="code-area">
                    <form method="post">
                        <div id="buttons">
                            <select id="codes" class="form-control" onchange="codeChange();">
                                <option value="HTML">HTML</option>
                                <option value="CSS">CSS</option>
                                <option value="JavaScript">JavaScript</option>
                            </select>
                            <button id="update" name="update" type="submit">更新</button>
                            <button id="submit" name="submit" type="submit">投稿</button>
                        </div>
                        <textarea id="code" name="coding" cols="30" rows="15">
                            <?php
                                echo $code;
                            ?>
                        </textarea> 
                    </form>
                </div>
            </div>
            <div id="caption" class="d-flex">
                <div id="titles">
                    <p id="title">Title Here</p>
                    <p id="subtitle">Subtitle Here</p>
                </div>
                <div id="author_frame" class="d-flex">
                    <div id="author_icon"></div>
                    <div id="author_info">
                        <p id="author_name">Author Name Here</p>
                        <p id="author_profession">Profession Here</p>
                        <button class="btn" type="submit">Follow</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="viewers">
            <div id="floor">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="viewer"></div>
        </div>
        <div id="reputation">
        </div>
        <script type="text/javascript">
            var mysql = require('mysql');
            var client = mysql.createClient({
            host: localhost,
            user: "root",
            password: "root",
            database: "prography"
            });
            client.query("SELECT * FROM artwork", function(error, response){
                if(error) throw error;
                console.log(response);
            })
            function codeChange(){
                if(document.getElementById('codes')){
                    id = document.getElementById('codes').value;
                    if(id == 'HTML'){
                        console.log('HTML');
                    }else if(id == 'CSS'){
                        console.log('CSS');
                    }
                    else if(id == 'JavaScript'){
                        console.log('JavaScript');
                    }
                }
            window.onload = codeChange;
            }
            var title=document.getElementById('title');
            var code=document.getElementById('code');
            var subtitle=document.getElementById('subtitle');
            var author_name=document.getElementById('author_name');
            var profession=document.getElementById('author_profession');
            var artwork=document.getElementById('artwork');
            //artwork.setAttribute("src","artwork"+art_id+".html");
            switch(art_id){
                case 1:
                    title.textContent="The Sierpinski";
                    author_name.textContent="RaiRai000";
                    break;
                case 2:
                    title.textContent="色空間におけるアフィン変換";
                    subtitle.textContent="The Affine-Transforming of Color-Space";
                    author_name.textContent="RaiRai000";
                    profession.textContent="Media Artist";
                    break;
                case 3:
                    title.textContent="空間描画";
                    subtitle.textContent="3d drawing";
                    author_name.textContent="RaiRai000";
                    profession.textContent="Media Artist";
                    break;
                default:
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>