<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="../image/favicon.ico" />
    <link rel="stylesheet" href="../scss/header.css" />
    <!--<link rel="stylesheet" href="scss/artwork-mobile.css" media="screen and (max-width:559px)">-->

    <link
      rel="stylesheet"
      href="../scss/my-page-pc.css"
      media="screen"
      type="text/css"
    />
    <title>Prography</title>
  </head>
  <body>
    <header id="header"></header>
    <div id="user-info">
      <img id="background" src="../image/background.png" />
      <div id="icons">
        <div id="icon">
          <img id="background" src="../image/vivi.png" />
        </div>
        <div id="author-name">author-name</div>
        <div id="profession">profession</div>
      </div>
    </div>
    <div id="menu">
      <div id="menu-center">
        <button class="selected" id="portfolio">Portfolio</button>
        <button id="about">About</button>
        <button id="likes">Likes</button>
        <button id="following">Following</button>
        <button id="followers">Followers</button>
      </div>
    </div>
    <ul id="artworks"></ul>

    <script src="../js/index.js"></script>

    <script type="text/javascript">
      $("#header").load("header.html");

      var query = window.location.search;
      var value = query.split("=");
      var user_id = value[1];
      get_artworks(user_id);

      async function get_artworks(user_id) {
        const response = await httpGet(
          "//" + window.location.host + "/api/my-page" + "/" + user_id
        );
        var artworks = document.getElementById("artworks");
        for (var i = 0; i < response.length; i++) {
          var li = document.createElement("li");
          li.classList.add("li");
          var img = document.createElement("img");
          img.setAttribute(
            "src",
            "../image/thumbnail/" + response[i].id + ".png"
          );
          img.setAttribute("id", response[i].id);
          img.classList.add("artwork");
          li.appendChild(img);
          artworks.appendChild(li);
        }
        const artwork = document.getElementsByClassName("artwork");
        for (let i = 0; i < artwork.length; i++) {
          artwork[i].addEventListener("click", open_editor, false);
        }
        $(function () {
          $(document).on("mouseover", ".li", function (e) {
            var icon = document.createElement("i");
            icon.classList.add("bi", "bi-x-circle");
            this.appendChild(icon);
          });
        });
        $(function () {
          $(document).on("mouseout", ".li", function (e) {
            var icon = document.createElement("i");
            icon.classList.add("bi", "bi-x-circle");
            this.appendChild(icon);
          });
        });
        $(".li").hover(
          function () {
            var icon = document.createElement("i");
            icon.classList.add("bi", "bi-x-circle");
            $this.appendChild(icon);
          },
          function () {
            var icon document.getElementsByClassName("");
          }
        );
      }

      function disp_trash(e) {}

      async function open_editor(e) {
        location.href =
          "//" +
          window.location.host +
          "/views/editor.html?user_id=" +
          user_id +
          ",art_id=" +
          e.target.id;
      }

      $("#portfolio").on("click", async function () {
        console.log(document.getElementById("1").classList.contains("artwork"));
      });

      $(".artwork").on("click", async function () {
        console.log(document.getElementById("1").classList.contains("artwork"));
      });

      artworkWidth();

      function artworkWidth() {
        var width = document.body.clientWidth;
        if (width > 1200) {
          $("#artworks").attr(
            "style",
            "grid-template-columns:repeat(6, minmax(0, 1fr));"
          );
        } else if (width > 600) {
          $("#artworks").attr(
            "style",
            "grid-template-columns:repeat(3, minmax(0, 1fr));"
          );
        } else if (width > 400) {
          $("#artworks").attr(
            "style",
            "grid-template-columns:repeat(2, minmax(0, 1fr));"
          );
        } else {
          $("#artworks").attr(
            "style",
            "grid-template-columns:repeat(1, minmax(0, 1fr));"
          );
        }
      }

      $(window).resize(function (event) {
        artworkWidth();
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
