<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="../image/favicon.ico" />
    <!--<link rel="stylesheet" href="scss/artwork-mobile.css" media="screen and (max-width:559px)">-->

    <link
      rel="stylesheet"
      href="../scss/register-pc.css"
      media="screen"
      type="text/css"
    />
    <title>Prography</title>
  </head>
  <body>
    <form>
      <div id="user-form">
        <div class="form-group">
          <label for="create-user-name">ユーザ名</label>
          <input type="text" class="form-control" id="name" name="user-name" />
          <div class="message" id="name_err"></div>
        </div>
        <div class="form-group">
          <label for="create-email">メールアドレス</label>
          <input type="text" class="form-control" id="email" name="email" />
          <div class="message" id="email_err"></div>
        </div>
        <div class="form-group">
          <label for="create-password">パスワード</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
          <div class="message" id="password_err"></div>
        </div>
      </div>
      <div>
        <button type="button" id="reset" class="btn btn-secondary">
          リセット
        </button>
        <button type="button" id="cancel" class="btn btn-secondary">
          キャンセル
        </button>
        <button
          type="button"
          id="regist"
          data-dismiss="modal"
          class="btn btn-primary"
        >
          登録
        </button>
        <div class="message" id="regist_err"></div>
      </div>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script src="../js/index.js"></script>

    <script>
      var result = 0;
      var empty = 1;
      $("#user-form").on("change", async function () {
        //console.log("register.html user-form change 1");
        const data = {
          name: $("#name").val(),
          email: $("#email").val(),
        };
        const response = await httpPost(
          "//" + window.location.host + "/api/register/check",
          data
        );

        if (
          $("#name").val() != "" &&
          $("#email").val() != "" &&
          $("#password").val() != ""
        ) {
          empty = 0;
        } else {
          empty = 1;
        }

        result = response.result;
        if (result % 2 == 1) {
          $("#name_err").text("登録済みのユーザー名です");
        } else {
          $("#name_err").text("");
        }
        if (Math.floor(result / 2) == 1) {
          $("#email_err").text("登録済みのメールアドレスです");
        } else {
          $("#email_err").text("");
        }
        //console.log("register.html user-form change 2");
      });

      $("#regist").on("click", async function () {
        //console.log("register.html 1");
        const data = {
          name: $("#name").val(),
          email: $("#email").val(),
          password: $("#password").val(),
        };
        if (result != 0) {
          $("#regist_err").text("登録済みのユーザー情報が含まれています");
        }
        if (empty != 0) {
          $("#regist_err").text("未入力の項目があります");
        }
        if (result == 0 && empty == 0) {
          const response = await httpPost(
            "//" + window.location.host + "/api/register/create",
            data
          );
          //location.reload();
        }
        //console.log("register.html 2");
      });
      $("#reset").on("click", async function () {
        //console.log("register.html 1");
        $("#name").val("");
        $("#email").val("");
        $("#password").val("");
        $("#name_err").text("");
        $("#email_err").text("");
        $("#password_err").text("");
        $("#regist_err").text("");
        //console.log("register.html 2");
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
