<nav>
  <div id="site_name">
    <img id="logo" src="../image/logo_dark.png" alt="" width="40" height="40" />
    <div class="title pro">Pro</div>
    <div class="title graphy">graphy</div>
  </div>
  <input
    id="search"
    class="form-control"
    type="search"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="button-addon2"
  />
  <button id="gallery" onclick="openGallery()">
    <i class="bi bi-columns"></i>
    <div class="button-text">gallery</div>
  </button>
  <button id="new-code" onclick="openNewCode();">
    <i class="bi bi-code-slash"></i>
    <div class="button-text">new code</div>
  </button>
  <div id="user_wrap">
    <button
      id="user"
      class="user"
      type="button"
    >
      <image class="user" id="header_icon" src="../image/vivi.png">
      <div class="button-text user" id="header_name">your name</div>
    </button>
    <ul id="dropdown-menu">
      <li onclick="openMyPage();">Portfolio</li>
      <li>About</li>
      <li>Likes</li>
      <li>Following</li>
      <li>Followers</li>
      <li onclick="logout();">Sign out</li>
    </ul>
  </div>
  <script>
    var query = window.location.search;
    var value = query.split("=");
    var user_id = value[1];

    load(user_id);

    async function load(user_id) {
      const response = await httpGet(
        "//" + window.location.host + "/api/user/"+user_id,
      );
      console.log(user_id);
      console.log("response");
      console.log(response);
      $("#header_name").text(response[0].name);
    }

    async function openGallery() {
      location.href =
        "//" + window.location.host + "/views/gallery.html?=" + user_id;
    }

    async function openMyPage() {
      location.href =
        "//" + window.location.host + "/views/mypage.html?=" + user_id;
    }

    async function openNewCode() {
      location.href =
        "//" + window.location.host + "/views/newcode.html?=" + user_id;
    }

    async function logout() {
      location.href =
        "//" + window.location.host + "/views/gallery.html?=0";
    }

    searchWidth();
    function searchWidth() {
      var width = document.body.clientWidth;
      if (width > 1060) {
        $("#search").attr(
          "style",
          "margin: 10px calc(100% - 1010px) 10px 50px;"
        );
        $("#search").outerWidth(400);
      } else {
        $("#search").attr("style", "margin: 10px 50px 10px 50px;");
        $("#search").outerWidth(width - 660);
      }
    }

    $(window).resize(function (event) {
      searchWidth();
    });

    var dropdown=0;
    
    $(window).click(function (e) {
      if(!$(e.target).hasClass("user") &&dropdown==1){
        dropdown=0;
        $("#dropdown-menu").attr("style","display:none;");
      }
    });
    $("#user").click(function () {
      if(dropdown==0){
        dropdown=1;
        $("#dropdown-menu").attr("style","display:block;");
      }
    });

  </script>
</nav>
