<nav>
  <div id="site_name">
    <img id="logo" src="../image/logo_dark.png" alt="" width="40" height="40" />
    <div class="title pro">Pro</div>
    <div class="title graphy">graphy</div>
  </div>
  <input
    id="search"
    class="form-control"
    type="search"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="button-addon2"
  />
  <button id="gallery" onclick="openGallery()">
    <i class="bi bi-columns"></i>
    <div class="button-text">gallery</div>
  </button>
  <button id="signin" onclick="signin();">
    <i class="bi bi-box-arrow-in-right"></i>
    <div class="button-text">sign in</div>
  </button>
  <button id="signup" onclick="signup();">
    <i class="bi bi-pencil-square"></i>
    <div class="button-text">sign up</div>
  </button>

  <script>
    var query = window.location.search;
    var value = query.split("=");
    var user_id = value[1];

    load();

    async function load() {
      $("#header_name").text("RaiRai");
    }

    async function openGallery() {
      location.href =
        "//" + window.location.host + "/views/gallery.html?=" + user_id;
    }

    async function openMyPage() {
      location.href =
        "//" + window.location.host + "/views/mypage.html?=" + user_id;
    }

    async function openNewCode() {
      location.href =
        "//" + window.location.host + "/views/newcode.html?=" + user_id;
    }

    async function logout() {
      location.href = "//" + window.location.host + "/views/gallery.html?=0";
    }

    searchWidth();
    function searchWidth() {
      var width = document.body.clientWidth;
      if (width > 1060) {
        $("#search").attr(
          "style",
          "margin: 10px calc(100% - 1010px) 10px 50px;"
        );
        $("#search").outerWidth(400);
      } else {
        $("#search").attr("style", "margin: 10px 50px 10px 50px;");
        $("#search").outerWidth(width - 660);
      }
    }

    $(window).resize(function (event) {
      searchWidth();
    });

    var dropdown = 0;

    $(window).click(function (e) {
      if (!$(e.target).hasClass("user") && dropdown == 1) {
        dropdown = 0;
        $("#dropdown-menu").attr("style", "display:none;");
      }
    });
    $("#user").click(function () {
      if (dropdown == 0) {
        dropdown = 1;
        $("#dropdown-menu").attr("style", "display:block;");
      }
    });
  </script>
</nav>
