<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../scss/artwork.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Prography</title>
  </head>
  <body>
    <input type="hidden" id="normal-id" value="nid" />
    <div class="container-fluid d-flex flex-column vw-100 vh-100 m-0 p-0 position-absolute">
        
        <!-- ボディ -->
        <div class="body d-flex flex-row vw-100 start-0">
            <!-- サイドバー ログアウトボタン-->
            <div class="side w-25 bg-secondary start-0 text-white position-relative">
                <!--a class="btn w-100" href="#" role="button">登録情報確認</a-->
                <a class="btn bg-danger w-100" href="logout" role="button">ログアウト</a>
                <a class="btn bg-danger w-100" href="login.html" role="button">ログイン</a>
            </div>
        </div>
        <!-- メインコンテンツ　ここから下ユーザー管理 -->
        <div class="main w-75 start-25 position-relative d-flex flex-column">
          <div class="view-header">
              <p>組織に所属しているユーザの一覧</p>
          </div>
          <div class="view-body h-100">
              <ul class="list-group" id="task-list">
                  <!-- ユーザ一覧を表示 -->
                  <% if (typeof o_users !== 'undefined') { %>
                      <% for (let i = 0; i < o_users.length; i++) { %>
                          <div class="panel-group border bg-secondary">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <div class="row align-items-center">
                                          <div class="col-9">
                                              <div>
                                                  <a data-toggle="collapse" href="#collapse<%= i %>">
                                                      【ユーザ】
                                                      <%= o_users[i].user_name %>
                                                  </a>
                                              </div>
                                          </div>
                                          <div class="col-3">
                                              <button type="button" class="btn btn-primary h-50" data-updateuserid="<%= o_users[i].user_id %>" data-toggle="modal" data-target="#update-user-modal"
                                                  id="update-user-button">更新</button>
                                              <button type="button" class="btn btn-danger user-delete" data-userid="<%= o_users[i].user_id %>" data-delete="<%= o_users[i].user_name %>">削除</button>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="collapse<%= i %>" class="panel-collapse collapse">
                                      <ul class="list-group">
                                          <!-- ユーザに紐づいたタスクの一覧を表示 -->
                                          if (typeof tasks !== 'undefined') { 
                                              for (let j = 0; j < tasks.length; j++) { 
                                                  if (tasks[j].um_id == o_users[i].um_id) { 
                                                       

                                                          <li class="list-group-item <%= categoryClassName %>">
                                                              <div class="row align-items-center">
                                                                  <div class="col-6">
                                                                      <div>
                                                                          【タスク】
                                                                          <%= tasks[j].task_name %>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-3">
                                                                      <div>
                                                                          <%= deadline %>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-3">
                                                                      <button type="button" class="btn btn-primary" data-updateid="<%= tasks[j].id %>" data-toggle="modal" data-target="#update-task-modal"
                                                                          id="update-task-button">更新</button>
                                                                      <button type="button" class="btn btn-danger delete-task" data-id="<%= tasks[j].id %>" data-delete="<%= tasks[j].task_name %>">削除</button>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <% } %>
                                                              <% } %>
                                                                  <% } %>
                                      </ul>
                                      <div class="panel-footer">
                                          <button type="button" class="btn btn-primary w-100" data-addtask="<%= o_users[i].user_id %>" data-toggle="modal" data-target="#create-task-modal">
                                              +タスクを追加
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <% } %>
                              <% } %>
              </ul>
          </div>
          <div class="view-footer">
              <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#create-user-modal">
                  +組織所属ユーザ登録
              </button>
          </div>
      </div>
  </div>
</div>

<!-- モーダル 新規組織所属ユーザ登録 -->
<div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="create-user-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="create-user-modal">新規所属ユーザ登録</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <form>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="create-user-name">ユーザ名</label>
                      <input type="text" class="form-control" id="create-user-name" name="user-name" />
                  </div>
                  <div class="form-group">
                      <label for="create-email">メールアドレス</label>
                      <input type="text" class="form-control" id="create-email" name="email" />
                  </div>
                  <div class="form-group">
                      <label for="create-password">パスワード</label>
                      <input type="password" class="form-control" id="create-password" name="password" />
                  </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      キャンセル
                  </button>
                  <button type="button" id="create-user" data-dismiss="modal" class="btn btn-primary">
                      登録
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- モーダル 新規組織所属ユーザ登録 END -->

<!-- モーダル ユーザ情報更新 -->
<div class="modal fade" id="update-user-modal" tabindex="-1" role="dialog" aria-labelledby="update-user-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="update-user-modal">更新</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="update-user-form">
                  <div class="form-group">
                      <label for="update-user-name">ユーザ名</label>
                      <input type="text" class="form-control" id="update-user-name" name="user-name" />
                  </div>
                  <div class="form-group">
                      <label for="update-email">メールアドレス</label>
                      <input type="text" class="form-control" id="update-email" name="email" />
                  </div>
                  <div class="form-group">
                      <label for="update-password">パスワード</label>
                      <input type="password" class="form-control" id="update-password" name="password" />
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  キャンセル
              </button>
              <button type="button" data-dismiss="modal" class="btn btn-primary" id="update-user">
                  保存
              </button>
          </div>
      </div>
  </div>
</div>
<!-- モーダル ユーザ情報更新 END -->




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS >
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script-->

<script src="../javascripts/index.js"></script>
<script>
  // 組織所属ユーザ登録　ここから下ユーザー管理
  $("#create-user").on("click", async function () {
      const data = {
          userName: $("#create-user-name").val(),
          email: $("#create-email").val(),
          password: $("#create-password").val(),
          oid: $("#organization-id").val(),
      };
      const response = await httpPost(
          "//" + window.location.host + "/api/regist/ouser",
          data
      );
      window.location.reload();
  });
  // ユーザ更新モーダルに更新したいユーザのIDを渡す
  $('#update-user-modal').on('show.bs.modal', async function (event) {
      const button = $(event.relatedTarget);
      const id = button.data('updateuserid');
      console.log(button);
      const response = await httpGet(
          "//" + window.location.host + `/api/get/ouser/${id}`
      );
      // 初期値をセット
      const modal = $(this);
      modal.find('#update-user').attr('data-updateuserid', id);
      $("#update-user-name").val(response[0].user_name);
      $("#update-email").val(response[0].email);
  });
  // ユーザ情報更新
  $("#update-user").on("click", async function () {
      const id = $(this).data("updateuserid");
      const requestData = {
          userName: $("#update-user-name").val(),
          email: $("#update-email").val(),
          password: $("#update-password").val(),
      };
      const response = await httpUpdate(
          "//" + window.location.host + `/api/update/ouser/${id}`,
          requestData
      );
      window.location.reload();
  });
  // ユーザ削除
  $(document).on("click", ".user-delete", async function () {
      const userName = $(this).data("delete");
      if (confirm(`以下のユーザを削除します。\n ${userName}`)) {
          const id = $(this).data("userid");
          const response = await httpDelete(
              "//" + window.location.host + `/api/delete/ouser/${id}`
          );
          window.location.reload();
      }
  });
  // タスク追加モーダルにタスクを追加したいユーザのIDを渡す
  $('#create-task-modal').on('show.bs.modal', async function (event) {
      const button = $(event.relatedTarget);
      const id = button.data('addtask');
      const modal = $(this);
      modal.find('#create-task').attr('data-addtask', id);
  });
  // ユーザを指定してタスクを作成
  $("#create-task").on("click", async function () {
      const id = $(this).data("addtask");
      const data = {
          taskName: $("#create-task-name").val(),
          deadline: $("#create-deadline").val(),
          category: $("#create-category").val(),
          nid: id,
      };
      const response = await httpPost(
          "//" + window.location.host + "/api/tasks",
          data
      );
      window.location.reload();
  });
  // タスク更新モーダルに更新したいタスクのIDを渡す
  $('#update-task-modal').on('show.bs.modal', async function (event) {
      const button = $(event.relatedTarget);
      const id = button.data('updateid');
      const response = await httpGet(
          "//" + window.location.host + `/api/tasks/${id}`
      );
      // 日付を xxxx-xx-xxに変換
      const date = new Date(response[0].deadline);
      const year = date.getFullYear();
      const month = ("0" + (date.getMonth() + 1)).slice(-2);
      const day = ("0" + (date.getDate())).slice(-2);
      const deadlineVal = `${year}-${month}-${day}`;
      // 初期値をセット
      const modal = $(this);
      modal.find('#update-task').attr('data-updateid', id);
      $("#update-task-name").val(response[0].task_name);
      $("#update-deadline").val(deadlineVal);
      $("#update-category").val(response[0].category_id);
      $("#update-status").val(response[0].task_status);
  });
  // タスク更新
  $("#update-task").on("click", async function () {
      const id = $(this).data("updateid");
      const requestData = {
          taskName: $("#update-task-name").val(),
          deadline: $("#update-deadline").val(),
          category: $("#update-category").val(),
          status: $("#update-status").val(),
      };
      const response = await httpUpdate(
          "//" + window.location.host + `/api/tasks/${id}`,
          requestData
      );
      window.location.reload();
  });
  // タスク削除
  $(document).on("click", ".delete-task", async function () {
      const taskName = $(this).data("delete");
      if (confirm(`下記の内容を削除します。\n ${taskName}`)) {
          const id = $(this).data("id");
          const response = await httpDelete(
              "//" + window.location.host + `/api/tasks/${id}`
          );
          window.location.reload();
      }
  });
</script>










    <script src="../js/artwork.js"></script>
</body>
</html>