<div class="container">
    <div class="card card-container">
        <!--ssl.gstatic.comは、アクセス解析などのトラッキング系のサイト-->
        <!--img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /-->
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-regist" action="/organization/register" method="post">
            <p class="main-title">
                 title
            </p>
            <label for="inputOrganization">ユーザー名</label>
            <input type="text" id="inputOrganization" class="form-control" name="organization_name" required autofocus>
            <label for="inputPassword">パスワード</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="パスワード" name="password" required>

            <button class="btn btn-lg btn-primary btn-block btn-regist" type="submit">登録</button>
        </form>
        if(typeof emailExists !== 'undefined'){ 
            <p class="error">
                 emailExists 
            </p>
        }
                <a href="/public/views/login" class="btn">ログイン</a>
                <br>
                <a href="#" class="btn">一般ユーザの方はこちら</a>
    </div>
</div>