<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../scss/artwork.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Prography</title>
  </head>
  <body>
    <input type="hidden" id="normal-id" value="nid" />
    <div class="container-fluid d-flex flex-column vw-100 vh-100 m-0 p-0 position-absolute">
        
        <!-- ボディ -->
        <div class="body d-flex flex-row vw-100 start-0">
            <!-- サイドバー ログアウトボタン-->
            <div class="side w-25 bg-secondary start-0 text-white position-relative">
                <!--a class="btn w-100" href="#" role="button">登録情報確認</a-->
                <a class="btn bg-danger w-100" href="logout" role="button">ログアウト</a>
                <a class="btn bg-danger w-100" href="login.html" role="button">ログイン</a>
            </div>
        </div>










    <script src="../js/artwork.js"></script>
</body>
</html>